.container {
    background-color: var(--black);
    width: 27rem;
    margin: 0 auto;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: var(--fontSize);
    font-weight: bold;
    font: var(--font);

    color: var(--white)
}